body{
    background-color: rgb(215, 172, 255);
    text-align: center;
}
h1{
    color: blueviolet;
    background-color: rgb(196, 255, 255);
}
#showSketch{
    float: right;
}
canvas{
    border:5px solid blue;
    border-radius: 20px;
    animation-name: colorchange;
    margin-top: 50px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes colorchange{
from{box-shadow: 1px 1px 38px rgb(0, 255, 0);};
to{box-shadow: 1px 1px 38px rgb(0, 200, 255)}
}
p{
    padding-top: 10px;
    font-size:25px;
}